<h1>Hi {{currentUser.firstName}}!</h1>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="clickOnAboutMe()" routerLink="/">About me</a>
        <a class="nav-item nav-link" (click)="clickOnEdu()" routerLink="/">Education</a>
        <a class="nav-item nav-link" (click)="clickOnCareer()" routerLink="/">Career</a>
    </div>
</nav>
<app-aboutme *ngIf="clickedOnAboutMe"></app-aboutme>
<app-job-list *ngIf="clickedOnCareer"></app-job-list>
<app-edu-list *ngIf="clickedOnEdu"></app-edu-list>