<div class="alert alert-info"><b>Education</b></div>



<!-- publisher -->

<div class="col-md-12" *ngFor="let edu of edus">

		<label class="col-md-8 control-label" for="university" style="font-size:20px;"><Strong>{{edu.university}}</Strong>  </label>
		<span class="col-md-4 control-label"><u (click)="edit(edu)">Edit</u> / <u (click)="delete(edu)">Delete</u></span>
		
	<!-- publication date -->
		<label class="col-md-12 control-label" for="faculty"><Strong>{{edu.faculty}}</Strong></label>

	<!-- language -->
		<label class="col-md-12 control-label" for="dates">{{edu.startDate}}-{{edu.endDate}}</label>

	<!-- description -->
		<label class="col-md-12 control-label" for="description">Description:</label>
		<div class="col-md-8">
			<textarea readonly name="description" rows="6" class="form-control" id="description" placeholder="Description">{{edu.description}}</textarea>
			<!-- <span class="help-block">Description of the book</span> -->
		</div>
		
		<br><br><br>
</div>

<div class="navbar-nav">
	<a class="nav-item nav-link" routerLink="/edus/add"><strong>Add Edu</strong></a>
</div>